// @import '~vuetify/lib/styles/main.sass';

@use 'vuetify/settings' with (
  $body-font-family: ('Roboto', 'NanumBarumGothic', sans-serif)
);
code,
kbd,
pre,
samp,
var {
  font-family: 'Roboto Mono', monospace !important;
}

// html {
//   font-family: 'Roboto', 'NanumBarumGothic', 'sans-serif';
//   font-size: 14px;
// }

.v-data-table td {
  font-size: 8px;
}
